.flagContainer {
    width: 50vmin;
    height: 33vmin;
    border: solid black;
}
/* Indonesia */
.indonesiaRed {
    background-color: red;
    height: 50%
}
.indonesiaWhite {
    background-color: white;
    height: 50%
}
/* Colombia */
.columbiaPanelYellow {
    background-color: #FCD116;
    height: 50%
}
.columbiaPanelBlue {
    background-color: #003893;
    height: 25%
}
.columbiaPanelRed {
    background-color: #CE1126;
    height: 25%
}
/* Ireland */
.flex-container {
    display: flex;
}
.childDiv {
    width:100%;
}
.leftGreen {
    background-color: #169B62;
}
.middleWhite {
    background-color: #FFFFFF;
}
.rightOrange {
    background-color: #FF883E;
}
/* France */

/* Benin */

/* Sweden */

/* Switzerland */

/* Tonga */

/* Japan */

/* Canada */

/* Norway */

/* Greece */

/* Somalia */

/* Chile */

/* Turkey */

/* China */

/* Cuba */

/* Western Sahara */

/* Kuwait */

/* Venezuela */

/* Trinidad And Tobago */

/* United Kingdom */

/* New Zealand */

/* United States */

/* Seychelle */
