/* Indonesia */
.flagContainer {
    width: 50vw;
    height: 50vh;
    border: solid black;
}
.red {
    background-color: red;
    width: 100%;
    height: 50%
}
/* Colombia */

/* Ireland */

/* France */

/* Benin */

/* Sweden */

/* Switzerland */

/* Tonga */

/* Japan */

/* Canada */

/* Norway */

/* Greece */

/* Somalia */

/* Chile */

/* Turkey */

/* China */

/* Cuba */

/* Western Sahara */

/* Kuwait */

/* Venezuela */

/* Trinidad And Tobago */

/* United Kingdom */

/* New Zealand */

/* United States */

/* Seychelle */
